.sidebarContainer {
  background-color: #071a52;
}

.sidenav {
  width: 350px;
  transition: width 0.3s ease-in-out;
  height: 100vh;
  background-color: #071a52;
  flex: 0 0 auto;
}

.sidenavClosed {
  /* composes: sidenav; */
  transition: width 0.3s ease-in-out;
  background-color: #071a52;
  width: 60px;
}

.sideNavHeader {
  display: flex;
  justify-content: space-between;
}

.SidenavLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 70px;
  height: 70px;
  transition: 0.3s ease-in-out;
}

.SidenavLogoClosed {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  transition: 0.3s ease-in-out;
}

.sideNavLogoText {
  display: flex;
}

.sideNavLogoTextClosed {
  padding-left: 2px;
}

.logoText {
  padding-left: 10px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 3px;
  transition: 0.3s ease-in-out;
}

.logoTextClosed {
  transition: 0.3s ease-in-out;
  display: none;
}

.sideitem {
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 10px;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

.navItemIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navItemIconClosed {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.sidebarItems {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid #ffffff;
}

.sidebarItemsClosed {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  background-color: #071a52;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
}

.linkText {
  /* padding-left: 16px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkTextClosed {
  /* composes: linkText; */
  display: none;
}

.sideitem:hover .sideitem:active {
  background-color: #0e256a;
}

.menuBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menuBtnClosed {
  display: flex;
  margin: 0 auto;
  padding: 10px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sidenavBottomBar {
  position: absolute;
  bottom: 0;
}

.sidenavBottomBarClosed {
  position: absolute;
  bottom: 0;
}

.logOutBtn {
  display: flex;
  padding: 10px;
  margin-left: 5px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.spacebetweenTopAndBottom {
  justify-content: space-between;
}

.logoutText {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.logoutTextClosed {
  display: none;
}

.navContents {
  color: white;
  padding: 20px;
  max-height: 75vh;
  overflow-y: auto;
}

.settingsContent {
  color: white;
}

.settingsTitle {
  font-size: 20px;
  line-height: 20px;
  font-family: "Raleway";
  font-weight: normal;
  font-weight: 700;
  color: white;
  letter-spacing: 3px;
  margin: 0;
  padding-left: 20px;
  border-left: 5px red solid;
}

.settingsSubtitle {
  font-size: 15px;
  line-height: 15px;
  font-family: "Raleway";
  font-weight: normal;
  font-weight: 700;
  color: white;
  letter-spacing: 3px;
  margin: 0;
  padding: 10px;
}

.inputCheckbox {
  appearance: none;
  background-color: #fff;
  margin: 5px;
  font: inherit;
  color: rgb(218, 218, 218);
  width: 20px;
  height: 20px;
  border: 4px solid rgb(218, 218, 218);
  border-radius: 20px;
  transform: translateY(-0.075em);
}

.inputCheckbox:checked {
  background-color: #007bff !important;
  border: 4px solid rgb(218, 218, 218);
}

.SettsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SettsToggleAll {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-family: "Raleway";
  font-weight: normal;
}

.groupHeatmap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  color: black;
  font-family: "Raleway";
  font-weight: normal;
  background-color: white;
  margin: 5px;
  border: 2px solid rgb(218, 218, 218);
  border-radius: 5px;
}

.groupedLabel {
  display: flex;
  align-items: center;
}

.cityFloodzoneLevelInput {
  display: flex;
  align-items: center;
  border-top: 2px solid rgb(218, 218, 218);
  padding: 10px 20px;
}

.cityFloodzoneLevel {
  display: block;
  margin-top: 10px;
}

.legendRow {
  display: flex;
  align-items: center;
}

.legend {
  display: flex;
  align-items: center;
}

.legendItem {
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 10px;
}

.legendBox {
  width: 20px;
  height: 20px;
  margin-left: 2px;
  border: 1px solid #000;
  border-radius: 5px;
}
